@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes ping {
  50% {
    transform: scale(1.01);
  }
}
@keyframes pulse {
  25% {
    transform: rotate(5deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.99);
  }
  75% {
    transform: rotate(-5deg);
  }
}
